<h1>Login:</h1>
<div class="error_explaination">
    <p><%= flash[:error] %></p>
</div>

<%= form_for :user do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %><br><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br><br>

    <%= f.submit "Login" %>
<% end %>