<h1>Make a New Restaurant</h1>

<%= form_for @restaurant do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :street_address %>
    <%= f.text_field :street_address %><br><br>
    <%= f.label :genre %>
    <%= f.text_field :genre %><br><br>

    <p>Select a city:</p>
    <%= f.collection_select :city_id, City.all, :id, :name %>

    <p>Or add a new one:</p>
    <%= f.fields_for :city do |city_attributes| %>
        <%= city_attributes.label :name %>
        <%= city_attributes.text_field :name %>
    <% end %><br><br>
    
    <%= f.submit "Create Restaurant" %>
<% end %>
