<h1>Make a New Restaurant</h1>

<%= render partial: "layouts/errors", locals: {object: @restaurant} %>

<%= form_for @restaurant do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :street_address %>
    <%= f.text_field :street_address %><br><br>
    <%= f.label :genre %>
    <%= f.text_field :genre %><br><br>

    <p>Select a city:</p>
    <%= f.collection_select :city_id, City.all, :id, :name, include_blank: 'Select One' %>

    <p>Or add a new one:</p>
    <%= f.fields_for :city, @restaurant.build_city do |city_fields| %>
        <%= city_fields.label :name %>
        <%= city_fields.text_field :name %>
    <% end %><br><br>

    <%= f.submit "Create Restaurant" %>
<% end %>
