<h1>Reviews for <%= link_to @restaurant.name, restaurant_path(@restaurant) %></h1>

<div>
  <h5>Filter Reviews:</h5>
  <%= form_tag("/restaurants/#{@restaurant.id}/reviews", method: 'get') do %>
    <%= select_tag 'review', options_for_select(['High to Low', 'Low to High']), include_blank: "Sort Reviews" %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<div>
  <%= show_reviews(@reviews, @restaurant) %>
</div>