<h1>Reviews for <%= link_to @restaurant.name, restaurant_path(@restaurant) %></h1><br>
<% @restaurant.reviews.each do |review| %>
    <h3>Written by <%= review.user.username %> on <%= review.created_at.strftime("%b %d, %Y") %></h3>
    <%= review.title %><br><br>
    <%= review.content %>
    <h4>Star rating: <%= review.star_rating %></h4>
    <br><br>
<% end %>