<h1>Add a Review for <%= @restaurant.name %> in <%= @restaurant.city.name %></h1><br>
<%= form_for [@restaurant, @review] do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <br>
    <div>
        <%= f.label :content %>
        <%= f.text_area :content %>
    </div>
    <br>
    <div>
        <%= f.label :star_rating %>
        <%= f.number_field :star_rating, min:0, max:5 %>
    </div>
    <br>
    <%= f.hidden_field :restaurant_id%>

    <%= f.submit %>


<% end %>