<%= form_for [@restaurant, @review] do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %><br><br>
    </div>
    <div>
        <%= f.label :content %>
        <%= f.text_area :content %><br><br>
    </div>
    <div>
        <%= f.label :star_rating %>
        <%= f.number_field :star_rating, min:0, max:5 %><br><br>
    </div>
    <%= f.hidden_field :restaurant_id%>

    <%= f.submit %>


<% end %>